@model MPGTracker2.Models.Fillup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fillup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFilled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFilled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmpty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmpty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GallonsFilled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GallonsFilled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilesDriven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilesDriven)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
